@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, button, a{
    font-family: "Briem Hand", cursive;
  }
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #8C3C3D;
  --secondary: #87465D;
  --accent: #BF722C;
  --light: #BAAF83;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-light {
  background-color: var(--light);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-light-trans {
  background-color: #BAAF8369;
}